Check NSEC RRs when verifying wildcard answer

[RFC 4035 (Section 3.1.3.3)](https://www.rfc-editor.org/rfc/rfc4035#section-3.1.3.3) makes an important point:

> If the zone does not contain any RRsets that exactly match <SNAME, SCLASS> but does contain an RRset that matches <SNAME, SCLASS, STYPE> via wildcard name expansion, the name server MUST include the  wildcard-expanded answer and the corresponding wildcard-expanded RRSIG RRs in the Answer section and MUST include in the Authority  section an NSEC RR and associated RRSIG RR(s) proving that the zone does not contain a closer match for <SNAME, SCLASS>.

See also #17